<%- include('partials/header.ejs') %>

<div id="outer-box-1">

<div class="outer-box">
  <div class="inner-box">
      <header class="signup-header">
          <h2>Signup</h2>
          <!-- <p>it just take 30 second</p> -->
      </header>

      <main class="signup-body">
          <form action="#">

            <p>
                <label for="username">Username</label>
                <input type="username" id="username" name="username" placeholder="Enter Your Username" required class="input-box">
            </p>

              <p>
                  <label for="fullname">Full name</label>
                  <input type="text" id="fullname" placeholder="Jhon Dee" required  class="input-box">
              </p>
              <p>
                  <label for="email">Email</label>
                  <input type="email" id="email" placeholder="Eg: xyz@gmail.com" required class="input-box">
              </p>
              <p>
                  <label for="password">Password</label>
                  <input type="password" id="password" placeholder="at least 8 character" required class="input-box">
              </p>
              <p>
                  <label for="password">Confirm Password</label>
                  <input type="password" id="password" placeholder="at least 8 character" required class="input-box">
              </p>
              <p>
                  <input type="submit" id="submit" value="Create Account">

              </p>
          </form>
      </main>

      <footer class="signup-footer">
          <p>Already Have An Account <a href="/">Login</a></p>
      </footer>
    </div>
  </div>
</div>
  <script>
    const submit = document.querySelector("#submit")
    const inputbox = document.querySelector(".input-box")

    submit.addEventListener('click',()=>{
        if (inputbox.value == "") {
            alert("Input Required");
            return false;
        }
        alert("your details are submitted refresh the page to login")

    })
  </script>
<%- include('partials/footer.ejs') %>